
body {
    background-color:#B59797; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}



.header {
    width: 90%;
    height: 85vh;
    background: #FBF6F6;
    margin-left: 10%;
    margin-top: 10vh;
}

.header__top {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    transition: opacity 0.8s;
}

.header__logo:hover {
    opacity: 0.5;
}

.header__nav ul{
    display: flex;
}

.header__nav ul li{
    margin-right: 38px;
}

.header__nav ul li:last-child{
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: roboto;
    font-weight: 400;
    font-style:normal;
    font-size: 23px;
    transition: opacity 0.8s;
}

ul li a:hover {
    opacity: 0.5;
}

.info {
    position: relative;
    left: 30px;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.img1 {
    position: relative;
    right: 300px;
    bottom: 0px;
    top: 120px; 
    
}


.services__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 5px;
    margin-top: 200px;
    font-size: 20px;
}

.services__item {
    width: 560px;
    height: 103px;
    padding-top: 40px;
    padding-left: 96px;
    background: #ECE2DF;
}


.services__item::after {
    content: '';
    background: url(../img/arr.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 30px;
    height: 10px;
    display: block;
    transform: translate(391px, -10px);
}


 
.text{
    margin-top: 60px;
    width: 1100px;
    font-family: Cormorant;
    color:#3c2a2a91;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
    
}
.text1{
    width: 1100px;
    margin-top: 20px;
    font-family: Cormorant;
    color:#3c2a2a;
    font-weight: 400;
    font-style:normal;
    font-size: 75px; 
      
}
.text2{
    
    margin-top: 40px;
    width: 570px;
    font-family: Cormorant;
    color:#3c2a2a88;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
}
.text3{
    
    margin-top: 30px;
    width: 590px;
    font-family: Cormorant;
    color:#3c2a2a9c;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;
      
}
.text4{
    
    margin-top: 30px;
    width: 590px;
    font-family: Cormorant;
    color:#3c2a2a8a;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;   
}
.text5{
    
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3c2a2a9a;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
}
.text6{
    
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 35px;  
    word-spacing: 50px;
}
.text7{
    
    margin-top: 20px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 15px;  
    word-spacing: 50px;  
     
}



.blok2{
    width: 560px;
    height: 103px;
    left: 140px;
    background-color: #fff;
    margin-top: 300px;
    margin-left: 50px;
}
.text8{
    margin-left: 60px;
    font-style:normal;
    font-size: 20px;  
    padding-top: 40px;
}
.img2{
    display: flex;
    margin-top: -50px;
    margin-left: 550px;
}



.blok3{
    width: 560px;
    height: 103px;
    left: 140px;
    background-color: #fff;
    margin-top: 330px;
    margin-left: 150px;
}
.text9{
    margin-left: 60px;
    font-style:normal;
    font-size: 20px;  
    padding-top: 40px;
}
.img3{
    display: flex;
    margin-top: -50px;
    margin-left: 643px;
}
.blok4{
    width: 560px;
    height: 103px;
    left: 140px;
    background-color: #fff;
    margin-top: -60px;
    margin-left: 950px;
}
.text10{
    margin-left: 60px;
    font-style:normal;
    font-size: 20px;  
    padding-top: 40px;
}
.img4{
    display: flex;
    margin-top: -50px;
    margin-left: 1440px;
}



.blok5{
    display: flex;
    width: 100%;
    height: 260px;
    background-color: #3C2A2A;
    margin-top: 300px;   
}
.text11 {
    width: 500px;
    padding-top: 80px;
    margin-left: 80px;
    font-family: Cormorant;
    font-size: 18px;
    color: #FBF6F6;
    text-align:left;
}
.text12 {
    width: 200px;
    padding-top: 80px;
    margin-left: 500px;
    font-family: Cormorant;
    font-size: 18px;
    color: #FBF6F6; 
    text-align: center;
}
.text13 {
    width: 300px;
    padding-top: 160px;
    margin-left: -130px;
    color: #FBF6F6; 

}
.text14 {
    width: 400px;
    padding-top: 80px;
    margin-left: 500px;
    font-family: Cormorant;
    font-size: 16px;
    color: #FBF6F6; 
    text-align:right ;
}
.text15 {
    width: 300px;
    padding-top: 160px;
    color: #FBF6F6;
    margin-left: -125px;
}
.img5{
    margin-left:80px;
    margin-top: -100px;
    letter-spacing: 15px;
} 



@media all and (min-width: 1024px) and (max-width: 1280px) { 
    body {
        background-color:#B59797;
    }
    .header {
        width:97%;
        height: 90vh;
        background: #FBF6F6;
        margin-left: 2%;
        margin-top: 5vh;
    }
    .container {
        max-width: 700px;   
    }
    ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: roboto;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;
    }
    .header__logo {
        margin-left: -200px;
    }
    .img1  {
        margin-left: 300px;
        margin-top: -110px;
        bottom: 0px;  
    }
    .img1 img{
      width: 500px;
      margin-left: 7px;
    }
    .text{
    margin-left: -80px;
    margin-top: 50px;
    width: 300px;
    font-family: Cormorant;
    color:#3c2a2a91;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
    
    }
    .text1{
    margin-left: -200px;
    width: 600px;
    margin-top: 20px;
    font-family: Cormorant;
    color:#3c2a2a;
    font-weight: 400;
    font-style:normal;
    font-size: 60px; 
      
    }
    .text2{
    margin-left: -150px;
    margin-top: 40px;
    width: 500px;
    font-family: Cormorant;
    color:#3c2a2a88;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;  
    }
    .text3{
    margin-left: -150px;
    margin-top: 30px;
    width: 500px;
    font-family: Cormorant;
    color:#3c2a2a9c;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
      
    }
    .text4{
    margin-left: -150px;
    margin-top: 30px;
    width: 500px;
    font-family: Cormorant;
    color:#3c2a2a8a;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;   
    }
    .text5{
    margin-left: -150px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3c2a2a9a;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
    }
    .text6{
    margin-left: -150px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 35px;  
    word-spacing: 50px;
    }
    .text7{
    margin-left: -150px;
    margin-top: 20px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 15px;  
    word-spacing: 50px;  
     
    }
    .services__items {
     display: grid;
     grid-template-columns:1fr 1fr 1fr;
     grid-gap: 50px;
     margin-left: -283px;
     margin-top: 80px;
     font-size: 18px;
     height: 300px;
    }
    .services__item {
     width: 380px;
     height: 103px;
     padding-top: 40px;
     padding-left: 56px;
     background: #ECE2DF;
    }
    .services__item::after {
     content: '';
     background: url(../img/arr.png);
     background-repeat: no-repeat;
     background-position: right center;
     width: 30px;
     height: 10px;
     display: block;
     transform: translate(240px, -10px);
    }
   
    .blok5{
        display: flex;
        width: 100%;
        height: 200px;
        background-color: #3C2A2A;
        margin-top: 100px;     
    }
    .text11 {
        width: 700px;
        padding-top: 40px;
        margin-left: 80px;
        font-family: Cormorant;
        font-size: 16px;
        color: #FBF6F6;
        text-align:left;
    }
    .text12 {
        width: 200px;
        padding-top: 40px;
        margin-left: 40px;
        font-family: Cormorant;
        font-size: 18px;
        color: #FBF6F6; 
        text-align: center;
    }
    .text13 {
        width: 300px;
        padding-top: 160px;
        margin-left: -145px;
        color: #FBF6F6; 
    
    }
    .text14 {
        width: 300px;
        padding-top: 40px;
        margin-left: 200px;
        font-family: Cormorant;
        font-size: 15px;
        color: #FBF6F6; 
        text-align:right ;
    }
    .text15 {
        width: 300px;
        padding-top: 150px;
        color: #FBF6F6;
        margin-left: -125px;
    }
    .img5{
        margin-left:80px;
        margin-top: -40px;
        letter-spacing: 15px;
    } 

}
  
@media all and (min-width: 768px) and (max-width: 1024px) { 
    .header {
        width:97%;
        height: 90vh;
        background: #FBF6F6;
        margin-left: 2%;
        margin-top: 5vh;
    }
    
    .container {
        max-width: 700px;   
    }
    ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: roboto;
    font-weight: 400;
    font-style:normal;
    font-size: 17px;
    }
    .header__logo {
        margin-left: -10px;
    }
    .img1  {
        margin-left: 100px;
        margin-top:40px;
        bottom: 0px;  
    }
    .img1 img{
      width: 300px;
      margin-left: 7px;
    }
    .text{
    margin-left: -50px;
    margin-top: 50px;
    width: 300px;
    font-family: Cormorant;
    color:#3c2a2a91;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;  
    
    }
    .text1{
    margin-left: -50px;
    width: 600px;
    margin-top: 20px;
    font-family: Cormorant;
    color:#3c2a2a;
    font-weight: 400;
    font-style:normal;
    font-size: 40px; 
      
    }
    .text2{
    margin-left: -50px;
    margin-top: 40px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a88;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;  
    }
    .text3{
    margin-left: -50px;
    margin-top: 30px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a9c;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
      
    }
    .text4{
    margin-left: -50px;
    margin-top: 30px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a8a;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;   
    }
    .text5{
    margin-left: -50px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3c2a2a9a;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
    }
    .text6{
    margin-left: -50px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 35px;  
    word-spacing: 50px;
    }
    .text7{
    margin-left: -50px;
    margin-top: 20px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 15px;  
    word-spacing: 50px;  
     
    }
    .services__items {
     display: grid;
     grid-template-columns:1fr ;
     grid-gap: 20px;
     margin-left: -20px;
     margin-top: 30px;
     font-size: 18px;
     height: 300px;
    }
    .services__item {
     width: 380px;
     height: 103px;
     padding-top: 40px;
     padding-left: 56px;
     background: #ECE2DF;
    }
    .services__item::after {
     content: '';
     background: url(../img/arr.png);
     background-repeat: no-repeat;
     background-position: right center;
     width: 30px;
     height: 10px;
     display: block;
     transform: translate(240px, -10px);
    }
   
    .blok5{
        display: flex;
        width: 100%;
        height: 250px;
        background-color: #3C2A2A;
        margin-top: 100px;     
    }
    .text11 {
        width: 700px;
        padding-top: 60px;
        margin-left: 70px;
        font-family: Cormorant;
        font-size: 16px;
        color: #FBF6F6;
        text-align:left;
    }
    .text12 {
        width: 150px;
        margin-top: 40px;
        margin-left: -420px;
        font-family: Cormorant;
        font-size: 18px;
        color: #FBF6F6; 
        text-align: center;
    }
    .text13 {
        width: 300px;
        padding-top: 180px;
        margin-left: -120px;
        color: #FBF6F6; 
    
    }
    .text14 {
        width: 300px;
        padding-top: 40px;
        margin-left: 200px;
        font-family: Cormorant;
        font-size: 17px;
        color: #FBF6F6; 
        text-align:right ;
    }
    .text15 {
        width: 300px;
        padding-top: 150px;
        color: #FBF6F6;
        margin-left: -125px;
    }
    .img5{
        margin-left:120px;
        margin-top: -220px;
        letter-spacing: 15px;
    }  
}

@media all and (max-width: 480px) {
    .header {
        width:98%;
        height: 90vh;
        background: #FBF6F6;
        margin-left: 2%;
        margin-top: 5vh;
    }
    
    .header__nav{
        display: none;}
    
    .container {
        max-width: 700px;   
    }
    
    .header__logo {
        margin-left: -10px;   
    }
    .img1  {
        margin-left: -120px;
        margin-top:450px;
        bottom: 0px;
          
    }
    .img1 img{
      width: 400px;
      margin-left: 7px; 
    }
    .text{
    margin-left: 55px;
    margin-top: 10px;
    width: 300px;
    font-family: Cormorant;
    color:#3c2a2a91;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;  
    }
    .text1{
    margin-left: -5px;
    width: 400px;
    margin-top: 20px;
    font-family: Cormorant;
    color:#3c2a2a;
    font-weight: 400;
    font-style:normal;
    font-size: 40px; 
      
    }
    .text2{
    margin-left: -40px;
    margin-top: 40px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a88;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;  
    }
    .text3{
    margin-left: -40px;
    margin-top: 30px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a9c;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
    }
    .text4{
    margin-left: -40px;
    margin-top: 30px;
    width: 400px;
    font-family: Cormorant;
    color:#3c2a2a8a;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
    }
    .text5{
    margin-left: -40px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3c2a2a9a;
    font-weight: 400;
    font-style:normal;
    font-size: 20px;  
    }
    .text6{
    margin-left: -40px;
    margin-top: 30px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 35px;  
    word-spacing: 50px;
    
    }
    .text7{
    margin-left: -40px;
    margin-top: 20px;
    width: 390px;
    font-family: Cormorant;
    color:#3C2A2A;
    font-weight: 400;
    font-style:normal;
    font-size: 15px;  
    word-spacing: 50px; 
    }
    .services__items {   
     display: grid;
     grid-template-columns:1fr ;
     grid-gap: 20px;
     margin-left: 20px;
     margin-top: 430px;
     font-size: 18px;
     height: 300px;
    }
    .services__item {
     width: 400px;
     height: 103px;
     padding-top: 40px;
     padding-left: 56px;
     background: #ECE2DF;
    }
    .services__item::after {
     content: '';
     background: url(../img/arr.png);
     background-repeat: no-repeat;
     background-position: right center;
     width: 30px;
     height: 10px;
     display: block;
     transform: translate(240px, -10px);
    }
   
    .blok5{
        display: flex;
        width: 100%;
        height: 250px;
        background-color: #3C2A2A;
        margin-top: 100px;     
    }
    .text11 {
        width: 200px;
        padding-top: 40px;
        margin-left: 20px;
        font-family: Cormorant;
        font-size: 15px;
        color: #FBF6F6;
        text-align:left;
    }
    .text12 {
        width: 200px;
        margin-top: 120px;
        margin-left: 50px;
        font-family: Cormorant;
        font-size: 18px;
        color: #FBF6F6; 
        text-align: center;
    }
    .text13 {
        width: 100px;
        padding-top: 140px;
        margin-left: -255px;
        color: #FBF6F6; 
    
    }
    .text14 {
        width: 300px;
        
        padding-top: 40px;
        margin-left: 200px;
        font-family: Cormorant;
        font-size: 17px;
        color: #FBF6F6; 
        text-align:right ;
    }
    .text15 {
        width: 300px;
        padding-top: 150px;
        color: #FBF6F6;
        margin-left: -125px;
    }
    .img5{
        margin-left:20px;
        margin-top: -150px;
        letter-spacing: 15px;
    } 
}














 